body{
    background-color:#e7e7e7 ;
}

.container{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0,5%;
    
}



h1{
    font-size: 4em;
    margin-block-start: 0em;
    margin-block-end: 0.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    font-weight: bolder;
    color: #2d2654;
}


#header {
    margin: 0 auto;
    padding: 22px 10px 20px 10px;
    font-family: Arial, Helvetica, sans-serif;
    
    background-color: #fff;

}

header{
    width: 100%;
    background-color: #011546;
    height: 60px;
    text-align: center;
    

}

nav>ul>li{
    display: inline-block;
    padding: 17px 18px;
    font-size: 20px;
    text-decoration: none;
}


nav > ul > li > a {
    text-decoration: none;
    padding: 8px 16px;
}

nav > ul > li > a:link {
    color:lightgray;
}

nav > ul > li > a:visited {
    color:lightgray;
}

nav > ul > li:hover:not(.active) {
    background-color: #8e8e8e;
}

nav > ul > li > a.active {
    background-color: #8e8e8e;
    color: white;
}

h2{ 
    padding-left: 20px;
}

.sect1{
    width: 70%;
    float: left;
    background-color: white;
    border-bottom-style: dashed;
    border-bottom-color: lightgrey;
}

.sect2{
    width: 29.6%;
    float: right;
    background-color: white;
    border-bottom-style: dashed;
    border-bottom-color: lightgrey;
    border-left-color: lightgrey;
    border-left-style: dashed;
    
    
}

h4{
    padding-left: 10px;
    color: gray;
}

section>a{
    padding-left: 20px;
    text-decoration: none;
    
}

section>a>img{
    width: 60px;
    height: 60px;
}

.sect3{
    width: 70%;
    float: left;
    background-color: white;
}

.sect3>h3{
    padding-left: 20px;
}

.sect3>a:link{
    color: rgb(16, 69, 71);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

.sect3>a:visited{
    color: rgb(14, 56, 58);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
}



section>p{
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.sect4{
    width: 29.6%;
    float: right;
    padding-top: 40%;
    padding-bottom: 45.45%;
    background-color: white;
    border-left-color: lightgrey;
    border-left-style: dashed;
}

footer{
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
}

footer > ul > li {
    display: inline-block;
    font-size: 18px;
    color: black;
}





