body{
    background-color:#e7e7e7 ;
}

.container{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0,5%;
    
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: Arial;
    font-size: 40px;
    color: rgb(4, 4, 85);
    padding-top: 25px;
    font-style: italic;
}

header{
    width: 100%;
    background-color: #011546;
    height: 60px;
    text-align: center;
    

}

nav>ul>li{
    display: inline-block;
    padding: 17px 18px;
    font-size: 20px;
    text-decoration: none;
}


nav > ul > li > a {
    text-decoration: none;
    padding: 8px 16px;
}

nav > ul > li > a:link {
    color:lightgray;
}

nav > ul > li > a:visited {
    color:lightgray;
}

nav > ul > li:hover:not(.active) {
    background-color: #8e8e8e;
}

nav > ul > li > a.active {
    background-color: #8e8e8e;
    color: white;
}

h2{ 
    /* padding-bottom: 8px; */
    padding-left: 20px;
}

.sect1{
    width: 70%;
    float: left;
    background-color: white;
    border-bottom-style: dashed;
    border-bottom-color: lightgrey;
}

.sect2{
    width: 29.6%;
    float: right;
    background-color: white;
    border-bottom-style: dashed;
    border-bottom-color: lightgrey;
    border-left-color: lightgrey;
    border-left-style: dashed;
    
    
}

h4{
    padding-left: 10px;
    color: gray;
}

section>a{
    padding-left: 20px;
}

section>a>img{
    width: 60px;
    height: 60px;
}

.sect3{
    width: 70%;
    float: left;
    background-color: white;
}

section>p{
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    box-sizing: content-box;
    width: 80%;
    margin: 0 0 5% 5%;
}

label {
    padding: 12px 0 12px 0;
    display: inline-block;
    font-weight: bolder;
    font-size: 15px;

    }

button{
    cursor: pointer;
    left: 30%;
    display: block;
    width: 30%;
    padding: 5px;
    margin: 5%;
    
}


input[type=text],input[type=email],  textarea {
    padding: 8px 0;
    width: 100%;
}

.sect4{
    width: 29.6%;
    float: right;
    padding-top: 28.2%;
    padding-bottom: 30%;
    background-color: white;
    border-left-color: lightgrey;
    border-left-style: dashed;
}

footer{
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
}

footer > ul > li {
    display: inline-block;
    font-size: 18px;
    color: black;
}

