body{
    background-color:#e7e7e7 ;
}

.container{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0,5%;
    
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: Arial;
    font-size: 40px;
    color: rgb(4, 4, 85);
    padding-top: 25px;
    font-style: italic;
}

header{
    width: 100%;
    background-color: #011546;
    height: 60px;
    text-align: center;
    

}

nav>ul>li{
    display: inline-block;
    padding: 17px 18px;
    font-size: 20px;
    text-decoration: none;
}


nav > ul > li > a {
    text-decoration: none;
    padding: 8px 16px;
}

nav > ul > li > a:link {
    color:lightgray;
}

nav > ul > li > a:visited {
    color:lightgray;
}

nav > ul > li:hover:not(.active) {
    background-color: #8e8e8e;
}

nav > ul > li > a.active {
    background-color: #8e8e8e;
    color: white;
}

h2{ 
    /* padding-bottom: 8px; */
    padding-left: 20px;
}

.sect1{
    width: 70%;
    float: left;
    background-color: white;
    border-bottom-style: dashed;
    border-bottom-color: lightgrey;
}

.sect2{
    width: 29.6%;
    float: right;
    background-color: white;
    border-bottom-style: dashed;
    border-bottom-color: lightgrey;
    border-left-color: lightgrey;
    border-left-style: dashed;
    
    
}

h4{
    padding-left: 10px;
    color: gray;
}

section>a{
    padding-left: 20px;
}

section>a>img{
    width: 60px;
    height: 60px;
}

.sect3{
    width: 70%;
    float: left;
    background-color: white;
}

#fl{
    float: left;
   background-image: url(../image/flower.jpg);
    height: 500px;
    width: 46%;
    margin: 2%;
    
}
#oc{
    float: left;
    background-image: url(../image/landscape.jpg);
    height: 500px;
    width: 46%;
    margin: 2%;
}

#in{
    float: left;
    background-image: url(../image/fountain.jpg);
    height: 500px;
    width: 46%;
    margin: 2%;
}
#od{
    float: left;
    background-image: url(../image/forestView.jpg);
    width: 46%;
    height: 500px;
    margin: 2%;
}
#rn{
    float: left; 
    border-style: hidden;
    background-image: url(../image/rain.jpg);
    width: 46%;
    height: 500px;
    margin:2%;
}
#de{
    float: left;
    border-style: hidden;
    background-image: url(../image/church.jpg);
    width: 46%;
    height: 500px;
    margin: 2%;
}
/* #fo{
    float: left;
    border-style: hidden;
    background-image: url(../image/cave.jpg);
    width: 46%;
    height: 500px;
    margin: 2%;
} */
#be{
    float: left;
    border-style: hidden;
    background-image: url(../image/oldHouse.jpg);
    width: 46%;
    height: 500px;
    margin: 2%;
}
#bee{
    float: left;
    border-style: hidden;
    background-image: url(../image/beeez.jpg);
    width: 46%;
    height: 500px;
    margin: 2%;
}
#bv{
    float: left;
    
    border-style: hidden;
    background-image: url(../image/landscape3.jpg);
    width: 46%;
    height: 500px;
    margin: 2%;
}
#co{
    float: left;
    
    border-style: hidden;
    background-image: url(../image/lamps.jpeg);
    width: 46%;
    height: 500px;
    margin: 2%;
}
#ld{
    float: left;
    border-style: hidden;
    background-image: url(../image/lake.jpg);
    width: 46%;
    height: 500px;
    margin: 2%;
}

